/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    overflow: hidden;
}

.container {
    text-align: center;
}

/* Liquid Loading Animation */
.processing-wrapper {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ddd;
}

.liquid {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%), radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%), radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%), radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%), radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
    animation: fill 30s linear forwards;
}

@keyframes fill {
    0% {
        top: 100%;
    }

    10% {
        top: 90%;
    }

    20% {
        top: 80%;
    }

    30% {
        top: 70%;
    }

    40% {
        top: 60%;
    }

    50% {
        top: 50%;
    }

    60% {
        top: 40%;
    }

    70% {
        top: 30%;
    }

    80% {
        top: 20%;
    }

    90% {
        top: 10%;
    }

    100% {
        top: 0%;
    }
}

.processing-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

/* Success Checkmark Animation */
.checkmark-wrapper {
    display: none;
    width: 100px;
    height: 100px;
    background-color: #eafaf1;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

@keyframes checkmark-animation {
    0% {
        opacity: 0;
        transform: scale(0.5) rotate(45deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(45deg);
    }
}

/* Success Message */
.message {
    display: none;
    font-size: 23px;
    color: #666;
    margin-top: 20px;
    font-weight: bold;
}

.success-heading {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    display: none;
}